html.body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen-container {
    height: 1123px;
    width: 796px;
    position: relative;
    background: #c8e3d4;
    background-size: 100% 100%;
}

.container img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    max-height: 796%;
    max-width: 1123%;
    object-fit: cover;
}

#subirImagen {
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    text-align: center;
}